<style>
.doc-aside {
    float:left;
    padding: 2em 3em;   
    max-width: 30%;
    overflow: scroll;
}
</style>

<div class="doc-aside">
    <strong class="d-block h6 my-2 pb-2 border-bottom">Table Of Contents</strong>
    <nav id="TableOfContents">
    <ul>
        <li><a href="#compiled-css-and-js">Prerequisites</a></li>
        <li><a href="#source-files">Getting Started</a>
            <ul>
                <li><a href="#npm">Configuring OAuth</a></li>
                <li><a href="#npm">Configuring DNS</a></li>
                <li><a href="#npm">Deploy Traefik</a></li>
                <li><a href="#npm">Deploy Cert-Manager</a></li>
                <li><a href="#npm">Deploy ArgoCD</a></li>
            </ul>
        </li>
    </ul>
    </nav>
</div>