@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$small-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$small-breakpoint}) {
    @content;
  }
}



.nav-div-outer {
  width: 100%;
  margin: auto;
  background-color: #333;
}
.nav-div-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #333;
}



.active {
  background-color:  #3DC412;
}

.dropdown {
  float: left;
  overflow: hidden;
} 

.dropdown .dropbtn {
  @include large {
    font-size: 16px;
    padding: 14px 16px;
  }
  @include medium {
    font-size: 15px;
    padding: 12px 14px;
  }
  @include small {
    font-size: 14px;  
    padding: 10px 12px;
  }
  //font-size: 16px;  
  border: none;
  outline: none;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
//  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-button {
  @include large {
    padding: 14px 16px;
  }
  @include medium {
    padding: 12px 14px;
  }
  @include small {
    padding: 10px 12px;
  }
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}